<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="con" connectionString="Data Source = .\sqlexpress;Initial Catalog=ImpulsoTest;Integrated Security=True;"/>
		<add name="conSetUpTest" connectionString="Data Source = .\sqlexpress;Initial Catalog=Impulso;Integrated Security=True;" providerName="ImpulsoTest"/>
	</connectionStrings>
</configuration>